.header {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 2px solid black;
}

.header:hover {
    transform: rotateX(15de);
    border-radius: 10px;
    background-color: wheat;
}

h1 {
    color: rgb(87, 204, 206);
    font-family: 'Courier New', Courier, monospace;
    margin: 0 auto;
}

#app-container {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 0 auto;
    position: relative;
    border-top: 0;
    padding-bottom: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#toDoWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    width: 90%;
    align-self: center;
    position: relative;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 20px;
}

#addElement {
    display: flex;
    position: absolute;
    right: 0px;
}

h4 {
    border: 2px solid black;
    padding: 5px;
    height: 100%;
    border-radius: 20px;
}

#description {
    display: flex;
    margin: 10px;
}

#check {
    display: flex;
    margin: 10px;
    justify-content: flex-end;
}
